.home {
    width: 100%;
    height: 100vh;

    .home__container {
        height: 100%;

        display: flex;
        justify-content: stretch;
    }

    .home__sidebar {
        width: 100%;
        max-width: 400px;
        height: 100%;

        display: flex;
    }

    .home__sidebar-left {
        width: 60px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 10px;

        background-color: $color-primary;
    }

    .home__sidebar-left-logo {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .home__sidebar-left-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .home__sidebar-left-navigation-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 5px;

        border-radius: 35%;

        cursor: pointer;

        svg {
            width: 25px;
            height: 25px;

            stroke-width: 2px;

            color: #fff;
        }

        &.active {
            background-color: $color-primary-hover;
        }
    }

    .home__sidebar-left-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: white;

        svg {
            width: 30px;
            height: 30px;

            cursor: pointer;
        }
    }

    .home__sidebar-right {
        height: 100%;

        flex: 1;

        background-color: #f3f5f9;

        overflow-y: auto;
    }

    .home__sidebar-right-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 20px;
    }

    .home__sidebar-right-list-item {
        display: flex;
        align-items: center;
        gap: 5px;

        padding: 7px 10px;

        background-color: #e1e3e6;

        border-radius: 4px;

        svg {
            width: 25px;
            height: 25px;

            cursor: pointer;
        }

        p {
            flex: 1;

            padding: 5px;

            cursor: pointer;
        }

        .trash {
            width: 30px;
            height: 30px;

            margin-left: auto;
            padding: 5px;

            color: #fff;
            background-color: rgb(255, 50, 50);

            border-radius: 30%;

            cursor: pointer;
        }

        .edit {
            width: 30px;
            height: 30px;

            margin-left: auto;
            padding: 5px;

            color: #fff;
            background-color: rgb(96, 143, 255);

            border-radius: 30%;

            cursor: pointer;
        }
    }

    .home__sidebar-right-add {
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 20px;
    }

    .home__sidebar-right-add-title {
        font-weight: 700;
    }

    .home__sidebar-right-add-form-groups {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home__sidebar-right-add-form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-size: 0.8rem;
        }

        input {
            width: 100%;
            height: 40px;

            padding: 5px 10px;

            border: 1px solid #E5E5E5;
            border-radius: 5px;
        }

        button {
            width: 100%;
            height: 40px;

            border: none;
            border-radius: 5px;

            background-color: $color-primary;
            color: white;

            cursor: pointer;
        }
    }

    .home__map {
        flex: 1;
    }

    .home__modal {
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.5);
    }

    .home__modal-container {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home__modal-form {
        width: 100%;
        max-width: 400px;

        padding: 20px;

        background-color: #fff;

        border-radius: 5px;
    }

    .home__modal-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        h2 {
            font-size: 1.2rem;
        }

        svg {
            width: 25px;
            height: 25px;

            cursor: pointer;
        }
    }

    .home__modal-form-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home__modal-form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-size: 0.8rem;
        }

        input {
            width: 100%;
            height: 40px;

            padding: 5px 10px;

            border: 1px solid #E5E5E5;
            border-radius: 5px;
        }

        button {
            width: 100%;
            height: 40px;

            border: none;
            border-radius: 5px;

            background-color: $color-primary;
            color: white;

            cursor: pointer;
        }
    }
}


// .home {
//     width: 100%;
//     height: 100vh;

//     .home__container {
//         width: 100%;
//         height: 100%;

//         display: flex;
//     }

//     .home__sidebar {
//         width: 20%;
//         height: 100%;

//         color: white;
//         background-color: #1e1e1e;
//     }

//     .home__sidebar-header {
//         padding: 25px 0;

//         text-align: center;
//     }

//     .home__sidebar-header-title {
//         font-size: 1.5rem;
//         font-weight: 700;
//     }

//     .home__sidebar-add {
//         margin-bottom: 25px;
//         padding: 10px 0;

//         text-align: center;
//     }

//     .home__sidebar-add-link {
//         color: white;
//         text-decoration: none;
//     }

//     .home__sidebar-list {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 15px;

//         padding: 0 25px;
//     }

//     .home__sidebar-list-item {
//         width: 100%;
//         height: 40px;

//         display: flex;
//         align-items: center;
//         gap: 10px;

//         padding: 0 10px;

//         border-radius: 5px;

//         color: white;
//         background-color: #2e2e2e;

//         font-size: 1rem;
//         font-weight: 600;

//         cursor: pointer;

//         .trash {
//             width: 20px;
//             height: 20px;

//             margin-left: auto;

//             color: red;

//             font-size: 15px;
//             font-weight: 600;

//             cursor: pointer;
//         }

//         .phone {
//             width: 20px;
//             height: 20px;

//             color: white;

//             font-size: 15px;
//             font-weight: 600;

//             cursor: pointer;
//         }
//     }

//     .home__map {
//         width: 80%;
//         height: 100%;
//     }
// }